

#logo1 {border-radius: 100px;}

a {
    text-decoration: none;
}

li{
    list-style: none;
    margin: 30px;
}

.nav-menu1{
    color: rgb(77, 77, 77);
    display: flex;
    position: sticky;
    justify-content: space-between;
    height: 15vh;
    top: 0px;
    
}
#Menu {
    list-style: none;
}

#ingresar {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif; color: rgb(77, 77, 77);
    font-size: small;  
    align-items: center;
    
}


#menu2 {
    display: flex;
    position: sticky;
    background-color: rgb(255, 245, 245);
    justify-content: center;
    height: 15vh;
    top: 0px;
    font-family: 'Poppins', sans-serif; color: rgb(77, 77, 77);
    font-size: small;
    z-index: 10; 

}

.nav-menu {
    display:flex;
    align-items: center;
    margin: 30px;
    padding: 0;
}

.nav-toggle {
    display: none;
    color: rgb(77, 77, 77);
    background: none;
    border: none;
    font-size: 20px;
    padding: 0;
    line-height: 50px;
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width: 829px) {
    #menu2 {
        height: 10vh;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding:0;
        background-color: rgb(255, 245, 245);
        position: fixed;
        left:0;
        top: 70px;
        width:100%;
       

        overflow-y: auto;

        top: -100%;
        transition: top 0.3s;
        
    }
    .menu-nav-item {
        display: block;
        line-height: 1vh;
        
    }

    .nav-toggle {
        display: block;
        
    }

    #check:checked ~ ul {
        top:0;
    }   
}

#logo2 {
    display: flex;
    font-display: right;
    height: 80px;
    width: 80px; 
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto; 
    margin-left: 60px;
    align-items: center;
    font-family: 'Poppins', sans-serif; color: rgb(77, 77, 77);
    font-size: small;
    font-style: italic;

}
@media (min-width:800px) and (max-width:1007px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width:799px) {
    .grid-container{
        grid-template-columns: auto;
    }
}

.dropdown-menu {
    display:table-column;
    background-color: rgba(206, 194, 194, 0.301);
    font-family: 'Poppins', sans-serif; color: rgb(77, 77, 77);
    font-size:x-small;
    font-style: italic;
    line-height: 5px;
    margin:0;
    border: 0;
    position: sticky;
    
}

#carouselExampleFade {
    position:relative ;
}
.dropdown-item {
    font-size: smaller;
    margin: 0px;
    padding: 0;
    border: none;
    border: 0;

}

.card {
    display: flex;
    position: relative;
}
#Registromarca {
    font-size: smaller;
}
    
#nombre {
        margin: 10px;
}

#enviarbutton {
    border: none;
    font-family: 'Poppins', sans-serif; color: rgb(77, 77, 77)
}